<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="tarefaDetalhe">
    <div class="card border-light mb-12">
        <div class="card-header bg-light  d-flex flex-row justify-content-start align-items-center p-2">
            <i class="avatar-char bg-light-blue " style="min-width: 39px;min-height: 39px;"></i>
            <div class="m-0 ml-2 mr-2 flex-grow-1" style="flex-grow: 1">
                <h4 class="m-0 card-title" th:utext="|${tarefa.titulo}|">1º Entrega</h4>
                <span th:text="|Entregar em: ${#dates.format(tarefa.dataHora, 'dd-MM-yyyy HH:mm')}|"></span>
            </div>

            <div class="dropdown actions__item ml-2">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                </div>
            </div>
        </div>
        <div class="card-body m-0">
            <div>
                <p>
                    <span th:text="|Lançada em: ${#dates.format(tarefa.dataCriacao, 'dd-MM-yyyy HH:mm')}|" ></span>
                    <br>
                    <span th:text="|Entregar em: ${#dates.format(tarefa.dataHora, 'dd-MM-yyyy HH:mm')}|"></span>
                </p>
            </div>
            <h5 class="mb-2 card-title">Descrição:</h5>
            <div class="row border-top border-bottom bg-light">
                <div th:utext="${tarefa.descricao}" class="card-text m-2">
                    Engenharia de software (Entregável 1)
                    <br>Engenharia de software (Entregável 1)
                    <br>Engenharia de software (Entregável 1)
                    <br>Engenharia de software (Entregável 1)
                    <br>Engenharia de software (Entregável 1)
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>