<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="usuarioAdminSenhaForm">
    <form th:action="@{/painel/admin/alterar-senha}" method="POST" th:object="${usuarioAlteracaoSenhaVO}">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="form-group">
                    <input th:field="*{senhaAtual}" th:errorclass="is-invalid" required type="password" class="form-control" placeholder="Senha atual" />
                    <div class="invalid-feedback">
                        Senha atual está incorreta.
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="form-group">
                    <input th:field="*{novaSenha}" th:errorclass="is-invalid" required type="password" class="form-control" placeholder="Nova senha" />
                    <div class="invalid-feedback">
                        Coloque uma senha nova valida.
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse btn-row">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</th:block>
</html>