<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="usuarioAlunoForm">
    <form th:action="@{/painel/aluno/perfil}" method="POST" th:object="${usuario}">
        <!--<div class="profile__img">
            <img src="demo/img/contacts/2.jpg" alt="">

            <a href="" class="zmdi zmdi-camera profile__img__edit"></a>
        </div>-->
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="form-group">
                    <input th:field="*{nome}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Nome" required/>
                    <div class="invalid-feedback">
                        Coloque um nome.
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="form-group">
                    <input th:field="*{email}" th:errorclass="is-invalid" type="email" class="form-control" placeholder="Email" required/>
                    <div class="invalid-feedback">
                        Coloque um email.
                    </div>
                    <i class="form-group__bar"></i>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row-reverse btn-row">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</th:block>
</html>